@(
bookmarkForm: Form[models.Bookmark],
categories: List[models.Category],
user: Option[String]
)(implicit flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._
@import controllers._


@main(Messages("index.title"), user) {

<h1 xmlns="http://www.w3.org/1999/html">@Messages("bookmark.head")</h1>
@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}
<!-- Formulaire de saisie : Bookmarks -->
<fieldset>
    <legend>@Messages("bookmark.new")</legend>
    @form(action = routes.Bookmarks.create) {
        @inputText(bookmarkForm("title"))
        @inputText(bookmarkForm("url"))
        @textarea(bookmarkForm("details"), args = 'rows -> 3, 'cols -> 50)
        @select(
            bookmarkForm("categoryId"),
            categories.toList.map(v => (v.id.toString, v.label)),
            '_showConstraints -> false  ,
            '_label -> Messages("label")
        )
        <div class="actions">
            <button type="submit" class="btn primary">@Messages("add")</button>
        </div>
    }
</fieldset>
}