@(
bookmarkForm: Form[models.Bookmark],
bookmarks: List[models.Bookmark],
categories: List[models.Category]
)(implicit flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._
@import controllers._


@main(Messages("index.title")) {

<h1>@Messages("bookmark.head")</h1>
@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}
<!-- Formulaire de saisie : Bookmarks -->

<fieldset>
    <legend>@Messages("index.bookmark.new")</legend>
    @form(action = routes.Bookmarks.create) {
        @inputText(bookmarkForm("title"))
        @inputText(bookmarkForm("url"))
        @textarea(bookmarkForm("details"), args = 'rows -> 3, 'cols -> 50)
        @select(
            bookmarkForm("category"),
            categories.toList.map(v => (v.id.toString, v.label)),
            '_showConstraints -> false
        )
        <div class="actions">
            <button type="submit" class="btn primary">@Messages("index.bookmark.add")</button>
        </div>
    }
</fieldset>
<!-- Liste des Bookmarks -->
<ul>
    @for(bookmark <- bookmarks) {
    <li>@bookmark.title : <a href="@bookmark.url">@bookmark.url</a> :
        bookmark.category match {
            case Some(category) => category.label
            case None => None
        }
    </li>
    }
</ul>
}