@(
id: Int,
categoryForm: Form[models.Category]
)(implicit flash: play.api.mvc.Flash)

@import helper._
@import helper.twitterBootstrap._
@import controllers._

@main(Messages("index.title")) {

<h1>@Messages("category.head")</h1>
@flash.get("success").map { message =>
<div class="alert-message warning">
    <strong>Done!</strong> @message
</div>
}
<!-- Formulaire de saisie : Catégories -->
<fieldset>
    <legend>@Messages("category.save")</legend>

    @form(action = routes.Categories.save(id)) {
        @inputText(categoryForm("label"))


    <div class="actions">
        <button type="submit" class="btn primary">@Messages("save")</button>
        <a href="@routes.Categories.delete(id)">
            <button type="button" class="btn danger">@Messages("delete")</button>
        </a>

    </div>
    }
</fieldset>

}