@(
bookmarks: List[models.FullBookmark]
)

@import helper._
@import helper.twitterBootstrap._


@main(Messages("index.title")) {
<p xmlns="http://www.w3.org/1999/html"></p><a href="@routes.Bookmarks.bookmarks">Messages("index.bookmark.link")</a> - <a href="@routes.Categories.categories">Messages("index.category.link")</a></p>
<!-- Liste des Bookmarks -->
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Url</th>
    </tr>
    </thead>
    @for(bookmark <- bookmarks) {
    <tr>
        <td><a href="@routes.Categories.edit(bookmark.categoryId)">@bookmark.categoryName</a></td>
        <td>@bookmark.title</td>
        <td><a href="@bookmark.url">@bookmark.url</a></td>
    </tr>
    }
    <tbody>
    </tbody>
</table>
}
