@(
bookmarks: List[models.FullBookmark]
)

@import helper._
@import helper.twitterBootstrap._


@main(Messages("index.title")) {
<p xmlns="http://www.w3.org/1999/html"></p>

<div">
<a href="@routes.Bookmarks.bookmarks">@Messages("index.addBookmark.link")</a> - <a href="@routes.Categories.categories">@Messages("index.addCategory.link")</a></p>
<!-- Liste des Bookmarks -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>@Messages("index.bookmarks.categoryName")</th>
            <th>@Messages("index.bookmarks.title")</th>
            <th>@Messages("index.bookmarks.url")</th>
            <th></th>
        </tr>
        </thead>
        @for(bookmark <- bookmarks) {
        <tr>
            <td><a href="@routes.Categories.edit(bookmark.categoryId)">@bookmark.categoryName</a></td>
            <td><a href="@routes.Bookmarks.edit(bookmark.id.get)">@bookmark.title</a></td>
            <td><a href="@bookmark.url" target="_blank">@bookmark.url</a></td>
            <td><a href="@routes.Bookmarks.delete(bookmark.id.get)">
                <button type="button" class="btn danger">@Messages("delete")</button>
            </a></td>
        </tr>
        }
        <tbody>
        </tbody>
    </table>
</div>
}
