@(
bookmarks: List[models.Bookmark]
)

@import helper._
@import helper.twitterBootstrap._


@main(Messages("index.title")) {
<p></p><a href="@routes.Bookmarks.bookmarks">Messages("index.bookmark.link")</a> - <a href="@routes.Categories.categories">Messages("index.category.link")</a></p>
<!-- Liste des Bookmarks -->
<ul>
    @for(bookmark <- bookmarks) {
    <li>@bookmark.title : <a href="@bookmark.url">@bookmark.url</a> : @bookmark.categoryId

        @***
        bookmark.category match {
            case Some(category) => category.label
            case None => None
        }
        ***@
    </li>
    }
</ul>
}