@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

    </head>
    <header class="topbar">
        <h1 class="fill">
            <a href="@routes.Application.index()">
                @title
            </a>
        </h1>
    </header>

    <section id="main">
        @content
    </section>
</html>
