@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>

        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet">
    </head>

    <!--
<header class="topbar">

    <h1 class="fill">
        <div id="navbar" class="navbar navbar-fixed-top">

                    <div class="pull-left"><a href="@routes.Application.index()">@title</a></div>
                    <div class="pull-right">
                        <a href="@routes.Application.logout()">
                            @Messages("logout")
                        </a>
                    </div>

        </div>



            <div class="span10">
            <a href="@routes.Application.index()">
                @title
            </a>
            </div>
            <div class="span2">
            <a href="@routes.Application.logout()">
                <button type="button" class="btn danger">@Messages("logout")</button>
            </a>
            </div>
        </div>

    </h1>


    </header>
    -->
    <body>
    <!--
        <header class="topbar">
            <h1 class="fill">
                <div class="navbar  navbar-fixed-top">
                    <div class="pull-left"><a href="@routes.Application.index()">@title</a></div>
                    <div class="pull-right">
                        <a href="@routes.Application.logout()">
                            @Messages("logout")
                        </a>
                    </div>
                </div>
            </h1>
        </header>
         -->
    <header class="topbar">
        <h1 class="fill">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <!--
                        <a class="brand" href="#">Project name</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                        -->

                        <div class="pull-left"><a href="@routes.Application.index()">@title</a></div>
                        <div class="pull-right">
                            <a href="@routes.Application.logout()">
                                @Messages("logout")
                            </a>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </h1>
     </header>
    <section id="main">
            <div class="container">
                @content
            </div>
        </section>
    </body>



    <script src="../assets/javascript/bootstrap.min.js"></script>

</html>
