@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        body {
            padding-top: 60px;
        }

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet">
    </head>

    <body>

    <header class="topbar">
        <h1 class="fill">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="pull-left"><a href="@routes.Application.index()">@title</a></div>
                        <div class="pull-right">
                            <a href="@routes.Application.logout()">
                                @Messages("logout")
                            </a>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </h1>
     </header>
    <section id="main">
            <div class="container">
                @content
            </div>
        </section>
    </body>

    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")></script>

</html>
